.trip {
  border-top: 1px solid #DDDDDD;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background: #000;
  color: white;
  padding-left: 6px;
}

.trip--header {
  left: 0;
  font-size: 14px;
  background: #001f3f;
}

.trip:not(.trip--header):not(.trip--active):hover {
  background: #AAAAAA;
  cursor: pointer;
}

.trip--header p {
  border-bottom: 2px dotted #85144b;
  display: inline;
}

.trip--active {
  background: #85144b;
}

.trip__time--header {
  width: 40%;
  display: flex;
}

.trip__image {
  width: 35px;
  height: 35px;
  align-self: center;
  justify-self: end;
}

.trip__destination {
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
